<div id="firstBox" class="row">
  <div class="container">
    <div class="col-md-3">
      <h3 class="text-right">Löydä uusi ystäväsi</h3>
    </div>
    <div class="col-md-9">
      <p>Kodinvaihtajat Ry perustettiin 3.1.2010 auttamaan uutta kotia etsivien lemmikki- ja kotieläinten uudelleensijoituksessa.
        Yhdistys toimii vapaaehtoisvoimin toimialueenaan koko Suomi.
        Linkkejä seuraamalla löydät lisää tietoa yhdistyksestä sekä toiminnastamme. Mikäli ne eivät tarjoa vastausta kysymyksiisi,
        otathan meihin yhteyttä! </p>
    </div>
  </div>
</div>

<div id="secondBox" class="row">
    <div class="container">
      <div class="col-md-3">
        <h3 class="text-right">Haluatko auttaa?</h3>
      </div>
      <div class="col-md-9">
        <p> Yhdistyksemme toimii vapaaehtoisvoimin. Auttaa voi liittymällä jäseneksi, adoptoimalla eläimen,
        tarjoamalla apua eläinten kuljetuksissa, toimimana sijaiskotina ja levittämällä tietoa yhdistyksestä.
        Rahalahjoituksella tuet yhdistystämme eläinten eläinlääkäri- ja ruokakuluissa.
        Mikäli haluaisit osallistua toimintaamme tavalla tai toisella, täytäthän yhteydenottolomakkeen!</p>
      </div>
    </div>
</div>

<div id="thirdBox" class="row">
  <div class="container">
    <div class="col-md-3">
      <h3 class="text-right">Me etsimme kotia</h3>
    </div>
      <div class="col-md-3">
        <img src="../../assets/koditon1.jpg" alt="..." class="img-rounded img-responsive" >
      </div>
      <div class="col-md-3">
        <img src="../../assets/koditon4.jpg" alt="..." class="img-rounded img-responsive" >
      </div>
      <div class="col-md-3">
        <img src="../../assets/koditon3.jpg" alt="..." class="img-rounded img-responsive" >
      </div>
  </div>
</div>
