<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Löydä uusi ystäväsi</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Kodinvaihtajat Ry perustettiin 3.1.2010 auttamaan uutta kotia etsivien lemmikki- ja kotieläinten uudelleensijoituksessa.
      Yhdistys toimii vapaaehtoisvoimin toimialueenaan koko Suomi.
      Linkkejä seuraamalla löydät lisää tietoa yhdistyksestä sekä toiminnastamme. Mikäli ne eivät tarjoa vastausta kysymyksiisi,
        otathan meihin yhteyttä! </p>
  </div>
</div>
