// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topdiv {
  background-color: #4DD0E1;
  height: 100px
}

#organization_title {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#logo {
  height: 50px
}

main {
  margin-top: 0px;
  background-color: #FFFFFF
}

.navbar {
  margin-bottom: 0px
}

#main_img {
  width: 100%
}

body {
  font-family: 'Slabo 27px', serif;
}
